<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="layout/base_admin::layout(~{::title},~{},~{::#contenido})">

<head>

  <title>Administración Asignaturas</title>

</head>

<body id="page-top">

  

        <!-- Begin Page Content -->
        <div class="container-fluid"  id="contenido">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Gestión Asignaturas</h1>
            
  
            <a href="#" th:href="@{/datos/horario/new}" class="btn btn-info agregar border-0 mb-4">
              Agregar horario asignaturas con fichero CVS</a>
            <a href="#" th:href="@{/admin/asignatura/new}" class="btn btn-success agregar border-0 mb-4 float-right">
              <i class="fas fa-plus-circle"></i> Nueva asignatura</a>
            <a href="#" th:href="@{/admin/horario/new}" class="btn btn-success agregar border-0 mb-4 mr-2 float-right">
              <i class="fas fa-plus-circle"></i> Nuevo horario</a>
  
           
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Curso</th>
                        <th>Horario</th>
                        <th>Editar</th>
                        <th>Baja</th>
                        
                      </tr>
                    </thead>
                    <tfoot>
                      
                    </tfoot>
                    <tbody>
                      <tr th:each="asignatura : ${asignaturas}">
                       
                        <td th:text="${asignatura.nombre}">Acceso a Datos</td>
                        <td th:text="${asignatura.curso.nombre}">Acceso a Datos</td>
                        
                        
                        <td th:text="${#strings.listJoin(asignatura.horarios.![dia + ','+ tramoHorario], '; ')}">Horario</td>
                        <td><a href="#" class="btn btn-outline-warning border-0 editar"
                             th:href="@{/admin/asignatura/edit/{id}(id=${asignatura.id})}">
                          <i class="fas fa-edit"></i></a></td>
                        <td><a href="#" class="btn btn-outline-danger border-0" data-toggle="modal"
                          data-target="#delete-modal" th:data-id="${asignatura.id}"><i class="fas fa-trash-alt"></i></a></td>
                        
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title">Dar de baja asignatura</h4>
                      </div>
                      <div class="modal-body">
                          <p>¿Está usted seguro de dar de baja esta asignatura?</p>
                          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                          <a href="/admin/asignatura/borrar/" class="btn btn-danger">Sí</a>
                      </div>
                  </div>
      
              </div>
          </div>
  
          <!-- /.container-fluid -->
  
        </div>
      

</body>

</html>
