<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="layout/base_admin::layout(~{::title},~{},~{::#contenido})">

<head>

  <title>Administración Escuela</title>

</head>

<body id="page-top">

  

        <!-- Begin Page Content -->
        <div class="container-fluid"  id="contenido">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Gestión Escuela</h1>
  
            <a href="#" th:href="@{/datos/new}" class="btn btn-info agregar border-0 mb-4">
               Agregar datos con fichero CVS</a>
            
  
           
  
            
  
          <!-- /.container-fluid -->
  
        </div>
      

</body>

</html>
