<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="layout/base_admin::layout(~{::title},~{},~{::#contenido})">

<head>

  <title>Solicitudes</title>

</head>

<body id="page-top">

  

        <!-- Begin Page Content -->
        <div class="container-fluid"  id="contenido">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Solicitudes Pendientes:</h1>
           
            
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Alumno</th>
                        <th>Fecha Solicitud</th>
                        <th>Motivo</th>
                        <th>Solicitud</th>
                        <th>Estado solicitud</th>
                        <th>Confirmar/ Denegar</th>
                        
                      </tr>
                    </thead>
                    <tfoot>
                      
                    </tfoot>
                    <tbody>
                      <tr th:each="solicitud : ${solicitudes}">
                       
                        <td><span th:text="${solicitud.alumno.apellidos}">Perez</span>, <span th:text="${solicitud.alumno.nombre}">Pepe</span></td>
                        <td th:text="${#temporals.format(solicitud.fechaSolicitud, 'dd/MM/yyyy')}">@mdo</td>
                        <td th:text="${solicitud.tipo}">Acceso a Datos</td>
                        <td><a href="" class="btn btn-outline-primary border-0" th:href="@{/admin/solicitud/archivo/{nombre}(nombre=${solicitud.adjunto})}">
                          <i class="fas fa-file-download"></i></a></td>
                        <td th:text="${solicitud.estadoSolicitud}">Horario</td>
                        <td><a href="#" class="btn btn-outline-dark border-0 editar"
                            th:href="@{/admin/solicitud/confirmar/{id1}/{id2}(id1=${solicitud.alumno.id}, id2=${solicitud.asignatura.id})}">
                            <i class="fas fa-external-link-alt"></i></a></td>
  
                        
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <h1 class="h3 mb-4 text-gray-800">Solicitudes Resueltas:</h1>
            
  
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Alumno</th>
                        <th>Fecha Solicitud</th>
                        <th>Fecha Resolución</th>
                        <th>Motivo</th>
                        <th>Solicitud</th>
                        <th>Estado solicitud</th>
                        
                        
                      </tr>
                    </thead>
                    <tfoot>
                      
                    </tfoot>
                    <tbody>
                      <tr th:each="solicitud : ${solicitudesRes}">
                       
                        <td><span th:text="${solicitud.alumno.apellidos}">Perez</span>, <span th:text="${solicitud.alumno.nombre}">Pepe</span></td>
                        <td th:text="${#temporals.format(solicitud.fechaSolicitud, 'dd/MM/yyyy')}">@mdo</td>
                        <td th:text="${#temporals.format(solicitud.fechaResolucion, 'dd/MM/yyyy')}">@mdo</td>
                        <td th:text="${solicitud.tipo}">Acceso a Datos</td>
                        <td><a href="" class="btn btn-outline-primary border-0" th:href="@{/admin/solicitud/archivo/{nombre}(nombre=${solicitud.adjunto})}"><i class="fas fa-file-download"></i></a></td>
                        <td th:text="${solicitud.estadoSolicitud}">Horario</td>

                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
  
          </div>
          <!-- /.container-fluid -->

      

</body>

</html>
