<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="layout/base_alum::layout(~{::title},~{},~{::#contenido})">

<head>

  <title>Mi curso</title>

</head>

<body id="page-top">

  

        <!-- Begin Page Content -->
        <div class="container-fluid"  id="contenido">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Ampliación de Matrícula </h1>
            <h3 class="h4 mb-4 text-gray-800">Curso: <span th:text="${curso.nombre}"> nombre curso</span></h3>
           
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
              <div class="card-body">
                
                <h3 class="h4 mb-4 text-dark">Solicitud ampliación matrícula para la asignatura: 
                    <span th:text="${asignatura.nombre}"></span></h3>
                
                  <h3 class="h4 mb-4 text-dark">Estado solicitud: <span class="text-danger" th:text="${ampliacion.estadoSolicitud}"></span></h3>
  
                
                

              </div>
            </div>
            
  
        </div>
      

</body>

</html>
